@import "tailwindcss";
@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4caf4f;
  --color-D_Grey: #4d4d4d;
  --color-gray: #717171;
  --color-light-gray: #89939e;
  --color-light-black: #263238;
}

body {
  font-family: "Inter", sans-serif;
}
.container {
  @apply mx-auto px-5 lg:px-10;
}
.btn-primary {
  @apply bg-primary px-4 py-[7px] xl:px-8 xl:py-3.5 rounded-sm text-white hover:bg-[#237D31] duration-500 cursor-pointer;
}
.scroll-active {
  @apply border-b border-gray-300 shadow;
}
.clipBtn {
  width: 223px;
  height: 65px;
  color: white;
  text-transform: uppercase;
  background-color: #4caf4f;
  clip-path: shape(
    from 91.22% 90.44%,
    curve to 86.97% 100% with 90.51% 96.22%/88.84% 100%,
    hline to 4.58%,
    curve to 0% 84.62% with 2.05% 100%/0% 93.11%,
    vline to 15.38%,
    curve to 4.58% 0% with 0% 6.89%/2.05% 0%,
    hline to 95.41%,
    curve to 99.65% 21.21% with 98.67% 0%/100.89% 11.09%,
    line to 91.22% 90.44%,
    close
  );
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4caf4f;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: #e3e3e4;
}
