@import "tailwindcss";
@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4caf4f;
  --color-D_Grey: #4d4d4d;
  --color-gray: #717171;
  --color-light-gray: #89939e;
  --color-light-black: #263238;
}

body {
  font-family: "Inter", sans-serif;
}
.container {
  @apply mx-auto px-5 lg:px-10;
}
.btn-primary {
  @apply bg-primary px-4 py-[7px] xl:px-8 xl:py-3.5 rounded-sm text-white hover:bg-[#237D31] duration-500 cursor-pointer;
}
.scroll-active {
  @apply border-b border-gray-300 shadow;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4caf4f;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: #e3e3e4;
}
